<head>
   <link rel="stylesheet" href="eco.css">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  </head>
  <div id="mittig">
<form action="/resetPassword" method="POST">
    <label for="email">E-Mail:</label>
    <input type="email" id="email" name="email">
    <span>&emsp;&emsp;&emsp;&ensp;<span><button type="submit">Passwort zurücksetzen</button>
</form>
</div>
