<input id="unitsForCategoryValues" type="hidden" value="{{unitsForCategory}}">
<h1>Maßnahmen eintragen</h1>

<form action="/measures/createMeasures" method="POST">

<table>
            <tr>
                <td>Ma&szlig;nahmen </td>
                <td>Kategorie </td>
                <td>Datum </td>
                <td>Abs. Einsparung</td>
                <td>Einheit</td>
                <td>CO&sup2; Einsparung</td>
                <td>Einheit</td>
            </tr>
            <tr>
                
                <td><input name="massnahme_name" type="text" size="55" value ="Heckenpflanzungen"></td>
                <td>
                    <select id="category" name="category" onchange="resetUnitSelect()">
                        {{#each categories}}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                <td>
                    <input type="text" name="massnahme_datum" size="20" value="2013-11-21">
                </td>
                </td>
                <td><input name="massnahme_absoluteeinsaprung" type="text" size="7,5"value ="50"></td>
                
                <td> <select id="frei" name ="fk_mass_einheit">
                        <option value="none" selected="true">-</option>
                        <option value="warm">kWh</option>
                        <option value="frisch">m^3</option>
                        <option value="abwasser">t</option>
                    </select></td>
                <td><input name="massnahme_co2einsparung" type="text" size="15"value ="50"></td>
                <td> <select id="frei"name ="fk_mass_einheit">
                        <option value="none"selected="true">-</option>
                        <option value="warm">kWh</option>
                        <option value="frisch">m^3</option>
                        <option value="abwasser">t</option>
                    </select></td>
            </tr>
        </table>
<h4>Soll Ihre Ma&szlig;nahme &ouml;ffentlich in den Newsticker geladen werden?</h4>
        <input type="Checkbox" id="frei1"
            onclick="document.getElementById('frei').disabled = (this.form.news.checked == false);">
        <input type="text" id="frei" disabled value="Ma&szlig;nahme freigegeben">
        <br>

        <br>
        <input type="submit" name="measure" id="wpbdp-bar-show-directory-button" value="speichern">
        <br>
    </form>
<script>
    let categorySelect = document.getElementById("category");
    let unitSelect = document.getElementById("unit");
    let unitsForCategory = new Map(JSON.parse(document.getElementById("unitsForCategoryValues").value));

    function resetUnitSelect() {
        unitSelect.options.length = 0;
        let units = unitsForCategory.get(parseInt(categorySelect.value));
        for(i = 0; i < units.length; i++) {
            let unit = units[i];
            let opt = document.createElement("option");
            opt.value = unit.id;
            opt.innerHTML = unit.name;
            unitSelect.appendChild(opt);
        }
    }

    resetUnitSelect();
</script>

