<input id="unitsForCategoryValues" type="hidden" value="{{unitsForCategory}}">

<div id="gross">

<h1>Maßnahme eintragen</h1>

<form action="/measures/createMeasures" method="POST">
<table>
  <thead>
            <tr>
                <th>Ma&szlig;nahmename </th>
                <th>Kategorie</th>
                <th>Datum </th>
                <th>Abs. Einsparung</th>
                <th>Einheit</th>
                <th>CO&sup2; Einsparung</th>
            </tr>
    </thead>
            <tr>

                <td><input name="massnahme_name" type="text" size="55" value ="Heckenpflanzungen"></td>
                <td>
                     <select id="category" name="category" onchange="resetUnitSelect()">
                        {{#each categories}}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                <td>
                    <input type="date" name="massnahme_datum" id="massnahme_datum">
                </td>
                </td>
                <td><input name="massnahme_absoluteeinsaprung" type="text" size="7,5"value ="50"></td>
                <td>
                    <select id="unit" name="fk_mass_einheit">
                    </select>
                </td>
                <td><input name="massnahme_co2einsparung" type="text" size="15"value ="50"></td>
                
            </tr>
        </table>
<h4>Soll Ihre Ma&szlig;nahme &ouml;ffentlich in den Newsticker geladen werden?</h4>
        <input type="checkbox" id="frei1" name ="massnahme_offentlich"
            onclick="document.getElementById('frei').disabled = (this.form.news.checked == false);">
        <input type="text" id="frei" disabled value="Ma&szlig;nahme freigegeben">
        <br>

        <br>
        <input type="submit" name="measure" id="wpbdp-bar-show-directory-button" value="speichern">
        <br>
    </form>
</div>
<script>
    document.getElementById("massnahme_datum").value= new Date().toISOString().substr(0, 10);
    let categorySelect = document.getElementById("category");
    let unitSelect = document.getElementById("unit");
    let unitsForCategory = new Map(JSON.parse(document.getElementById("unitsForCategoryValues").value));
    function resetUnitSelect() {
        unitSelect.options.length = 0;
        let units = unitsForCategory.get(parseInt(categorySelect.value));
        for(i = 0; i < units.length; i++) {
            let unit = units[i];
            let opt = document.createElement("option");
            opt.value = unit.id;
            opt.innerHTML = unit.name;
            unitSelect.appendChild(opt);
        }
    }
    resetUnitSelect();
</script>
