
<h1>Maßnahmen eintragen</h1>

<form action="/allMeasures" method="POST">
    <h5>Bitte wählen Sie eine Kategorie aus: </h5>
        <table>
            
                <input type="radio" name="Energie" value="energie" checked> Energie<br>
                <input type="radio" name="Waermeenergie" value="Wärme"> W&auml;rmeenergie<br>
                <input type="radio" name="Frischwasser" value="Frischwasser"> Frischwasser<br>
                <input type="radio" name="Abwasser" value="abwasser"> Abwasser<br>
                <input type="radio" name="Gruenbeflanzung" value="pflanze"> Gr&uuml;nbepflanzung
            
        </table>

    

<table>
            <tr>
                <td>Ma&szlig;nahme </td>
                <td>Größe</td>
                <td>Einheit</td>
                <td>CO&sup2; Einsparung</td>
                <td>Einheit</td>
            </tr>
            <tr>
                
                <td><input name="massnahme_name" type="text" size="55" value ="Heckenpflanzungen"></td>
                <td><input name="massnahme_absoluteeinsaprung" type="text" size="7,5"value ="5"></td>
                <td> <select id="frei" name ="fk_mass_einheit">
                        <option value="none" selected="true">-</option>
                        <option value="warm">kWh</option>
                        <option value="frisch">m^3</option>
                        <option value="abwasser">t</option>
                    </select></td>
                <td><input name="massnahme_co2einsparung" type="text" size="15"value ="50"></td>
                <td> <select id="frei"name ="fk_mass_einheit">
                        <option value="none"selected="true">-</option>
                        <option value="warm">kWh</option>
                        <option value="frisch">m^3</option>
                        <option value="abwasser">t</option>
                    </select></td>
            </tr>
        </table>
<h4>Soll Ihre Ma&szlig;nahme &ouml;ffentlich in den Newsticker geladen werden?</h4>
        <input type="Checkbox" id="frei1"
            onclick="document.getElementById('frei').disabled = (this.form.news.checked == false);">
        <input type="text" id="frei" disabled value="Ma&szlig;nahme freigegeben">
        <br>

        <br>
        <input type="submit" name="mail" id="wpbdp-bar-show-directory-button" value="speichern">
        <br>
    </form>

