
<h1>Massnahmen bearbeiten</h1>


<table class="ticker">
    <thead>
        <tr>
            <th colspan="2">Massnahmen bearbeiten</th>
        </tr>
    </thead>
    <tbody>
        {{#each measures}}
        <tr>
            <td>
                <span>{{this.companyName}}</span>
            </td>
            <td>
                <span>{{this.measureName}}</span>
            </td>
            <td>
                <span>{{this.co2Value}}</span>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

