
<h1>Maßnahmen bearbeiten</h1>


<table class="ticker">
    <thead>
        <tr>
            <th colspan="2">Maßnahmen</th>
        </tr>
    </thead>
    <tbody>
        {{#each measures}}
        <tr>
            <td>
                <span>{{this.companyName}}</span>
            </td>
            <td>
                <span>{{this.measureName}}</span>
            </td>
            <td>
                <span>{{this.co2Value}}</span>
            </td>
            <td>
                <button type="button" id="edit">Maßnahme bearbeiten</button>
             </td>
             <td>
                 <button type="button" id="delete">Maßnahme löschen</button>
              </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<button type="button" id="new">Maßnahme hinzufügen</button>

