<table class="ticker">
    <thead>
        <tr>
            <th colspan="2">News-Ticker</th>
        </tr>
    </thead>
    <tbody>
        {{#each measures}}
        <tr>
            <td>
                <span>{{formatDateTime this.date}}</span>
            </td>
            <td rowspan="2">
                <span>{{this.measureName}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>{{this.companyName}}</span>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>