{{#if user}}
<div>
<form action="/logout" method="GET">
    <a href="javascript:;" onclick="parentNode.submit();">Logout</a>
</form>
</div>
{{else}}
<div>
    <a href="/login">Login</a>
</div>
{{/if}}
<table class="ticker">
    <thead>
        <tr>
            <th colspan="2">News-Ticker</th>
        </tr>
    </thead>
    <tbody>
        {{#each measures}}
        <tr>
            <td>
                <span>{{formatDateTime this.timestamp}}</span>
            </td>
            <td rowspan="2">
                <span>{{this.name}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>{{this.companyId}}</span>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
