.column {
    float: left;
    width: 33%;
    padding: 30px;
}
#bar {
    background-color: #6699cc;
    width: 200px;
    height: 600px;
    margin: 0 auto;
}

#yearText {
    text-align: center;
    font-size: 25px;
}

.year {
    text-align: center;
    width: 100%;
}
.pilar-wrapper {
    margin: 0%;
    padding: 0%;
    background-color: white;
    height:600px;
    width: 200px;
    position: relative;
    float:left;
}
.pilar-border {
    /*padding left, right etc einfügen*/
    padding: 5%;
    /*outline: 4px solid #888888;*/
    border-style: solid;
    border-color: #888888;
    border-width: 1px;
    /*border-radius: 10%;*/
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: black;
    height: 600px;
    width: 120px;
    display: flex;
    flex-direction: column-reverse;
}

.pilar-case {
    opacity: 0.2;
    /*border-radius: 20%;*/
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    height: 5px;
    /*margin-top: 1px;*/
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    /*box-shadow: 10px 10px 10px 10px #0ff;*/
}
